# ======================
# Flutter / Dart
# ======================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# ======================
# Android
# ======================
android/.gradle/
android/local.properties
android/app/build/
android/build/

# ======================
# iOS
# ======================
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/build/

# ======================
# macOS / Linux / Windows
# ======================
build/
*.log
*.tmp

# ======================
# IDE
# ======================
.idea/
*.iml
.vscode/

# ======================
# Misc
# ======================
.DS_Store
*.swp
*.lock
*.class

# ======================
# Generated / Binary files
# ======================
*.apk
*.aab
*.ipa
*.bin

# ======================
# Flutter symbol / obfuscation
# ======================
app.*.symbols
app.*.map.json